@import "tailwindcss";

.name{
  color: #1C64F2;
  font-family:monospace;
  font-size: 30px;
}

.up{
  margin-top: -10px;
}

.upp{
  margin-top: -180px;
}



@media screen and (max-width:600px) {
  .upp{
    margin-top: -10px;
  }
  .up{
    margin-top: -80px;
  }
  
}

.Heading{
  font-size: 40px;
  margin-top: -800px;
}

.exp{
  margin-top: -120px;
}


.top{
  margin-top: -220px;
}

.smalltag{
  margin-top: -80px;
}
.to{
  margin-top: -25px;
}