name: Build & Push Docker Image (TEST ONLY)

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  GHCR_USERNAME: jeganath18
  GHCR_TOKEN: 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

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        run: |
          echo "${GHCR_TOKEN}" | docker login ghcr.io -u "${GHCR_USERNAME}" --password-stdin

      - name: Build image
        run: |
          docker build -t ghcr.io/${IMAGE_NAME}:latest .

      - name: Push image
        run: |
          docker push ghcr.io/${IMAGE_NAME}:latest
