name: Build and push Image as a package

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE: ${{ github.repository }}
  TAG: latest

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      # Convert name to lowercase
      - name: Normalize image name
        id: names
        run: |
          IMAGE_LC=$(echo "${IMAGE}" | tr '[:upper:]' '[:lower:]')
          echo "IMAGE_LC=$IMAGE_LC" >> $GITHUB_ENV

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${IMAGE_LC}:${TAG} .

      - name: Push Image
        run: |
          docker push ghcr.io/${IMAGE_LC}:${TAG}
